*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pages {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  color: black;

}
#homepage-page {
  padding-top: 100px;
  #nav-bar {
    width: 100vw;
    background-color: salmon;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }
  #deck-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.login-page {
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #login-container {
    border: 5px solid brown;
    width: 40vw;
    height: 20vw;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
  .input-fields{
    background-color: white;
    width: 50%;
    height: 40%;
    color: black;
    font-size: 120%;
  }
  #input-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #input-form {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .buttons{

    justify-content: space-between;
  }
  
}


.deck {
  outline: 1px solid red;
  height: 100px;
  width: 200px;

}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
